body{
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    font-family: 'Roboto' , sans-serif;
   
}

p {
    font-size: 16px;
}

h1 {
    font-size: 24px;
    color: black;

}




/*/////////////////////*/
/*//////  HEADER  /////*/
/*/////////////////////*/

header {
    height: 145px;
    border-bottom: solid 1px;
    background-color: #0E5C97;
    font-family: 'Poppins', sans-serif;
   

}

.header-logo {
    margin-top: 50px;
    margin-left: 10px;
    height: 64px;
}


/*/////////////////////*/
/*//////  Nav  ////////*/
/*/////////////////////*/

nav {
    display: none;
    position: absolute;
    top: 146px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #fafafa99;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

#hamburger-menu:checked ~ .header-label-bars {
    display: none;
}

.header-label-bars {
    font-size: 44px;
    color: white;
    margin: 55px 0 0 95px;
    position: absolute;
    cursor: pointer;
}

.header-label-x {
    display: none;
    font-size: 42px;
    color: white;
    margin: -65px 0 0 353px;
    cursor: pointer;
}

#hamburger-menu:checked ~ .header-label-x {
    display: block;
}


.nav-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.nav-cont a {
    font-size: 28px;
    margin: 10px 0;
    color: black;
    text-decoration: none; 
}




/*/////////////////////*/
/*//////  Footer  /////*/
/*/////////////////////*/

footer {
    height: 400px;
    background-color: #0E5C97;
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

footer ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    
}

footer a {
    color: white;
    text-decoration: none;    
    font-size: 16px;
    padding: 5px 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.news {
    display: flex;
    margin: 50px 0 30px 0 ;
    justify-content: center;
}

.news form {
    display: flex;
    flex-direction: column;
}

.news label {
    margin: 0 0 10px 0;
}

.submit-mail {
    background-color: #007AFF;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px;
}

